body {
    max-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "monsterrat", sans-serif;
    
}

.container {

    max-height: 100%;

}

.mainpage {

    height: 90%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0e0e0e;
    color: white;

}

footer {

    min-height: 100px;
    height: 10%;
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: black;
    color: white;
    width: 100%;

}

.WhiteGirl {

    width: 50%;
    left: 0;

}

footer h2{
    display: inline;
    font-size: xx-large;
}

.lyricsButton {

    justify-content: center;
    height: 50px;
    margin-right: 50px;
    border-radius: 10px;
    transition: all 0.2s;
    margin-top: 5px;
    margin-bottom: 5px;

}

.lyricsButton:hover {

    background-color: white;
    color: black;

}

#buttonPlay {

    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 50px;
    align-content: center;
    border-radius: 50%;
    background-color: white;
    color: black;

}

#skipButton {

    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;

}

#lyricsTab {

    height: 0%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0e0e0e;
    color: white;

}

#lyricsTab h1 {

    white-space: pre-line;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;

}

#topFooter {

    grid-row: 1 / 1;
    grid-column: 2 / 2;
    display: flex;
    align-content: center;
    justify-content: center;

}

#bottomFooter {

    grid-row: 2 / 2;
    grid-column: 2 / 2;
    display: flex;
    align-content: center;
    justify-content: center;

}
